extends layout

block content
    p#title 用户注册
    
    form#form(method="post" action="/regist")
        div.text_input 用户名
            input#username(name="username" placeholder="用户名6~18位英文字母、数字或下划线，必须以英文字母开头" value=user.username)

        div.text_input 学号
            input#usernumber(name="usernumber" placeholder="学号8位数字，不能以0开头"  value=user.usernumber)

        div.text_input 电话
            input#userphone(name="userphone" placeholder="电话11位数字，不能以0开头"  value=user.userphone)

        div.text_input 邮箱
            input#useremail(name="useremail" placeholder="邮箱格式:***@***.com，*只能是英文字母或者_\-"  value=user.useremail)
            
        div.text_input 密码
            input#userpassword(name="userpassword" placeholder="密码为6~12位数字、大小写字母、中划线、下划线"  value=user.userpassword type="password")
            
        div.text_input 重复密码
            input#repeatpassword(name="repeatpassword" placeholder="重复输入密码，与密码一致"  value=user.repeatpassword type="password")

        div.button
            input#reset(type="reset")
            input#submit(type="submit")

        if error
            div.error!= error

    p#error
    script(type="text/javascript" src="/javascripts/regist.js")
    script(type="text/javascript" src="/javascripts/validator.js")